.header {
  width: 100%;
  text-align: center;
  background-color: #45d8ae;
  color: white;
  padding: 10px;
  border: 1px solid black;
}
.form {
  margin-top: 80px;
}
.row {
  margin: 10px;
}
button {
  height: 50px;
  width: 160px;
  margin: 10px;
}
.studentsTable {
  margin-top: 30px;
}
img {
  width: auto;
}
h2 {
  margin-top: 40px;
}
.studentName {
  font-weight: 500;
}
.table > thead > tr > th {
  background-color: #acd040;
  color: white;
}
